<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FechaSistema" value="13/11/2014 12:00:00"/>
    <add key="ConnectionString" value="Server=localhost\\SQLSERVER2008;Database=GD2C2014;User Id=gd;Password=gd2014;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>